#root {
  max-width: 1290px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.perfilPato {
  height: 8em;
  padding: 1.5em;
  border-radius: 50%;
}
.perfilPato:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.perfilPato:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.message{
  width: 16em;
  height: 4em;
}